* {
    margin: 0PX;
    padding: 0PX;
    max-width: 1900px;

}

header {
    background: #FFFBF0;
    height: 900px;
    flex-shrink: 0;
    background-image: url(/image/model.png);
    background-repeat: no-repeat;
    background-position: right 200px top 200px;



}


nav {
    display: flex;
    align-items: center;

}

.genzfashion-title {
    color: #363958;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 800px;
    line-height: normal;
    margin-top: 28PX;
    margin-left: px;

}

.genz-title {
    color: #A4BC46;

}

nav img {
    margin-top: 28px;
    margin-left: 200px;
    width: 55.936px;
    height: 39.266px;
    flex-shrink: 0;

}


nav ul {
    color: #3C3C3C;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    list-style-type: none;
    margin-left: 400px;
    margin-top: 28px;
}


.frame {
    margin-top: -40px;
    width: 150px;
    height: 150px;
    margin-left: 200px;
}

.fashiion-about {
    margin-left: 110px;
}

.section-title {
    color: #363958;
    font-family: "Bebas Neue";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 135px;
    width: 360px;
    height: 192px;
    margin-top: 100px;
}

.sectioon-titlespan {
    color: #FABE4C;
}

.section-para {
    color: #3E3E3E;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 135px;
    width: 357px;
    height: 52px;
    margin-top: 20px;

}

.btr-primary {
    width: 170px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    border: none;
    margin-left: 135px;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500px;
    line-height: 24px;
    margin-top: 10px;
    margin-right: 8px;



}

.shopping-cart {
    width: 70px;
    height: 30px;
    margin-right: -17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*main start*/
main {
    height: 2300px;
    background: #FFF;
}


section h3 {
    color: #363958;
    font-family: "Bebas Neue";
    font-size: 48px;
    font-weight: 400;
    width: 225px;
    height: 58px;
    margin-top: 40px;
    margin-left: 135px;

}

.women-title-info,
.man-title-info {
    display: flex;
    align-items: center;
    justify-content: center;


}

.women-title-eachinfo,
.man-title-eachinfo {
    width: 600px;
    height: 550px;
    flex-shrink: 0;
}

.women-title-eachinfo,
.man-title-eachinfo {
    width: 450px;
    height: 600px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
    margin: 40px;
}

.imagejacket {
    width: 293px;
    height: 330px;
    margin-left: 65px;
    margin-right: 50px;
    max-width: 90%;
    margin-top: 5px;
    border-radius: 20px;


}

.women-jacket-border,
.man-jacket-border {
    display: flex;
    align-items: center;
    width: 400px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F1F1F1;
    margin-top: 20px;
    margin-left: 25px;
}

section h4 {

    color: #363958;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 15px;
}

section p {
    color: #3E3E3E;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 30px;

}

.price-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-btn h4 {
    color: #FABE4C;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-left: 15px;
}

.information-and-shop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
    margin-left: -220px;
}

.shop-img {
    width: 1000px;
    height: 500px;
    margin-bottom: 150px;
    margin-left: 50px;

}

.footer {
    margin-top: 50px;
    margin-left: 260px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.infor-each {
    width: 489px;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.icons-footer {
    width: 78px;
    height: 82px;

}

.footer h3 {
    color: #363958;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    width: 206px;
    height: 28px;
    margin-left: 36px;
    margin-top: 20px;
}

.footer p {
    color: #3E3E3E;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 36px;
    margin-top: 14px;

}

/*responsive */
@media screen and (max-width: 480px) {
    * {
        max-width: 430px;
    }

    header {
        width: 430px;
        height: 900px;
        flex-shrink: 0;
        background-position: left 10px top 500px;
        background-size: 70%;
    }

    .fame-icone {
        width: 37.038px;
        height: 26px;
        flex-shrink: 0;
        margin-left: 40px;
        margin-top: -40PX;
        padding-top: -40PX;
    }

    .genzfashion-title {
        width: 148.982px;
        height: 20.526px;
        flex-shrink: 0;
        font-size: 16px;
        margin-top: -40PX;
    }

    .section-title {
        width: 227PX;
        height: 144PX;
        font-size: 52PX;
        margin-top: 0PX;
        margin-left: 30PX;
    }

    .fashiion-about {
        margin-left: 20px;
    }

    nav ul,
    .frame {
        visibility: hidden;
    }

    .section-para {
        width: 295px;
        height: 52px;
        margin-left: 30px;
        margin-top: -20px;
    }

    .btr-primary {
        width: 170px;
        height: 60px;
        margin-left: 30PX;
        padding-right: 20px;
    }

    /* /*main */
    main {
        width: 430px;
        height: 5000px;

    }

    .women-title,
    .man-title {
        margin-left: 80px;
    }

    .women-title-info,
    .man-title-info {
        display: flex;
        flex-direction: column;

    }

    .women-title-eachinfo,
    .man-title-eachinfo {
        width: 320px;
        height: 550px;
        margin-left: 60px;

    }

    .women-jacket-border,
    .man-jacket-border {
        width: 260px;
        height: 327px;
        padding-left: 10px;
    }

    .imagejacket {
        width: 293px;
        height: 293px;
        margin-left: 15px;

    }

    .women-title-eachinfo h4,
    .man-title-eachinfo h4 {
        font-size: 24px;
        width: 270px;
        height: 28px;
        padding-bottom: 10px;
    }

    .women-title-eachinfo p,
    .man-title-eachinfo p {
        width: 270px;
        height: 52px;
    }

    .price-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .price-btn h4 {
        width: 84px;
        height: 52px;
        font-size: 30px;
        margin-top: 25px;


    }

    .price-btn button {}

    .btr-primary {
        width: 130px;
        height: 50px;
        font-size: 10px;
    }

    .footer {
        margin-top: -50px;
       
    }

    .information-and-shop {
        display: flex;
        flex-direction: column;
    }
    .information{
        margin-left: -100px;
    }
    .infor-each {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 240px;
     
      
    }

    .shop-img {
        width: 300px;
        height: 220px;
        margin-top: 50px;
        margin-left: -100px;
        padding-left: 10px;
        
    }

}